<html>
<head>
  <meta charset="utf8">
  <title>Space Widget</title>

  {% load static %}
  <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
  <link rel="stylesheet" href="{% static "game.css" %}">



</head>

<body>

<h1 id="sudoku_title">SUDOKU</h1>


<div id="sudoku_container"></div>
  <div
      id="space"
      data-toggle="ciscospark-space"
      data-initial-activity="message"
      data-access-token="YWY3MGIxMDYtMDg3Zi00MWEyLWI1MjQtZmY3MGNjODhlNmE1NmE3NjIyM2UtNzcx"
      data-to-person-email="lewis.mazzei@gmail.com" />

  <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

 <script>
  var GLOBALS = {
    BOARD: {{board}},
    BOARD_SOLVED: {{board_solved}}
  }

  </script>

  <script src="{% static "game.js" %}"></script>

</body>
</html>