<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Results</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "waiting.css" %}">
</head>
<body>
<h1 id="sudoku_title">SUDOKU Patient List</h1>
<div class="container">

<div id="accordion" role="tablist">
{% for user in patients %}
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ user.pk }}">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{ user.pk }}" aria-expanded="true" aria-controls="collapse{{ user.pk }}">
          {{ user.email }}
        </a>
      </h5>
    </div>

    <div id="collapse{{ user.pk }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ user.pk }}" data-parent="#accordion">
      <div class="card-body">
        <table>
        <tr>
        <th>Time</th>
        <th>Score (seconds)</th>
        </tr>
        {% for game in user.user1_rel.all %}
        <tr>
        <td>{{ game.datetime }}</td>
        <td>{{ game.user1_points }} : {{ game.user2_points }}</td>
        </tr>
        {% endfor %}
        {% for game in user.user2_rel.all %}
        <tr>
        <td>{{ game.datetime }}</td>
        <td>{{ game.user2_points }}</td>
        </tr>
        {% endfor %}
        </table>

      </div>
    </div>
  </div>

{% endfor %}
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>